a {
	color: pink;
}

a:hover {
	color: red;
}


.Section-1-With-Image-Container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	flex-wrap: wrap;
	margin-bottom: 90px;
}

.Section-1 {
	background-color: #131111;
	border-radius: 10px;
	box-shadow: 0px 0px 6px #010101;
	color: whitesmoke;
	font-size: 18px;
	width: 525px;
	height: auto;
	padding: 20px 40px;
	min-width: 500px;
}

.Section-1 ul li,
.Section-2 ul li  {
  margin-bottom: 12px;
}

.Image-1-Container {
	width: 317px;
	max-width: 230px;
}

.Image-1-Container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	border: 3px solid black;
	box-shadow: 0 0 6px black;
}

.Section-2-With-Image-Container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	flex-wrap: wrap;
	margin-bottom: 90px;
}

.Section-2 {
	background-color: #131111;
	border-radius: 10px;
	box-shadow: 0px 0px 6px #010101;
	color: whitesmoke;
	font-size: 18px;
	width: 525px;
	height: auto;
	min-width: 500px;
	padding: 20px 40px;
}

.Image-2-Container {
	width: 317px;
	max-width: 280px;
}

.Image-2-Container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 0 0 6px black;
}

.Section-3 {
	background-color: #131111;
	border-radius: 10px;
	box-shadow: 0px 0px 6px #010101;
	color: whitesmoke;
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin: auto;
	max-width: 1000px;
}

ol {
	padding: 0px;
	margin: 0px;
	visibility: none;
}